<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <h1>Formulaire d'inscription</h1>

    {% if error is defined %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

<form action="{{ path('app_space') }}" method="post">
        <label for="email">Email :</label>
        <input type="email" name="email" id="email" required><br>

        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="password" required><br>

        <label for="firstname">Prénom :</label>
        <input type="text" name="firstname" id="firstname" required><br>

        <label for="lastname">Nom :</label>
        <input type="text" name="lastname" id="lastname" required><br>

        <label for="birthday">Date de naissance :</label>
        <input type="date" name="birthday" id="birthday" required><br>

        <button type="submit">S'inscrire</button>
    </form>
</body>
</html>
