{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}

{% block body %}
    <h2>Bienvenue {{ prenom }} {{ nom }}</h2>
    <footer>
        © 2025 - esprim
    </footer>
{% endblock %}
